

<section>
<div class="container">
<div class="container m-5">
<div class="card">
  <div class="card-content">
    <p class="title">
      {{postidData.title}}
    </p>
    <p class="subtitle">
      Posted by <i class="fa-sharp fa-solid fa-circle-user"></i> </i> {{postidData.user.username}} on {{format_date  postidData.createdAt}} and <i class="fa-sharp fa-solid fa-clock"></i> {{time_ago postidData.createdAt}}
    </p>
    <div class="content">
      {{postidData.content}}
    </div>
  </div>
  <footer class="card-footer">
    <form class="card-footer-item">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Add a comment..." id="commentData">
        </div>
        <div class="control">
          <button class="button postcommentbutton is-link">Submit</button>
        </div>
      </div>
    </form>
  </footer>
</div>
</div>
</div> 
</section>


<div class="container">
<div class="container m-5">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Comments

      </p>
    </header>
    <div class="card-content">
      <div class="content">


          {{#unless postidData.comments}}
<h1 style="font-size: 1.5rem; font-weight: bold; color: #333; text-align: center; padding: 1rem;">No comments yet. Be the first to comment!</h1>

  {{/unless}}

{{#each postidData.comments as |comment|}}

  <div class="media">
    <div class="media-content">
      <p>
        <strong>{{format_date comment.createdAt}} : {{time_ago comment.createdAt}} @<span class="icon-text">
  <span class="icon">
  <i class="fa-solid fa-user"></i>
  </span> {{comment.user.username}}   

        </strong>
        <br>
        {{comment.text}}
      </p>
    </div>
{{#if (eq comment.commenterUsername ../user_id)}}  {{! works! }}
 


    <div class="media-right">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-small is-danger deleteComment" id="{{comment.id}}" data-user-id="{{comment.commenterUsername}}">Delete</button>
            </div>
        </div>
    </div>

{{/if}}
  </div>
  <hr>
{{/each}}


      </div>
    </div>
  </div>
</div>
</div>
