  
<section>
<a href="/post/{{id}}">
<div class="container">
<div class="container m-5">
<div class="card">
  <div class="card-content">
    <p class="title">
      {{title}}
    </p>
    <p class="subtitle">
      Posted by {{username}} on {{format_date   createdAt}} and {{time_ago createdAt}}
    </p>
    <div class="content">
      {{content}}
    </div>
  </div>
  <footer class="card-footer">
    <form class="card-footer-item">
      <div class="field has-addons">
        </div>
      </div>
    </form>
  </footer>
</div>
</div>
</div> 
</a>
</section>